In [3]:
import pandas as pd
from tabulate import tabulate

# Read the CSV file
file_path = "/Users/sandeep/Documents/RA Work/cleaned_game_dataset/Game Data_MCI Individuals.csv"
data = pd.read_csv(file_path)

In [4]:

# Display the first few rows of the dataframe
print(tabulate(data.head(), headers='keys', tablefmt='psql'))
 
# Basic data analysis
print("Summary statistics:")
print(tabulate(data.describe(), headers='keys', tablefmt='psql'))

print("\nMissing values:")
print(data.isnull().sum())

print("\nData types:")
print(data.dtypes)

+----+---------------------+----------------+---------------+------------+-------------------+----------------+--------------+
|    |   ParticipantNumber | GameName       |   TotalTrials |   TrialNum | InteractionType   |   ReactionTime |   FinalScore |
|----+---------------------+----------------+---------------+------------+-------------------+----------------+--------------|
|  0 |                 922 | TagMeAgainEasy |            31 |          1 | correct rejection |             -1 |           28 |
|  1 |                 922 | TagMeAgainEasy |            31 |          2 | miss              |             -1 |           28 |
|  2 |                 922 | TagMeAgainEasy |            31 |          3 | false alarm       |            316 |           28 |
|  3 |                 922 | TagMeAgainEasy |            31 |          4 | correct rejection |             -1 |           28 |
|  4 |                 922 | TagMeAgainEasy |            31 |          5 | correct rejection |             -1 |           28 |
+----+---------------------+----------------+---------------+------------+-------------------+----------------+--------------+
Summary statistics:
+-------+---------------------+---------------+------------+----------------+--------------+
|       |   ParticipantNumber |   TotalTrials |   TrialNum |   ReactionTime |   FinalScore |
|-------+---------------------+---------------+------------+----------------+--------------|
| count |           929       |    929        |  929       |        929     |    929       |
| mean  |           917.461   |     30.267    |   16.0301  |        474.975 |     25.7384  |
| std   |             3.09282 |      0.442606 |    9.02864 |        357.91  |      5.98178 |
| min   |           912       |     30        |    1       |         -1     |      8       |
| 25%   |           914       |     30        |    8       |         -1     |     22       |
| 50%   |           918       |     30        |   16       |        580     |     26       |
| 75%   |           920       |     31        |   24       |        740     |     29       |
| max   |           922       |     31        |   37       |       1952     |     38       |
+-------+---------------------+---------------+------------+----------------+--------------+

Missing values:
ParticipantNumber    0
GameName             0
TotalTrials          0
TrialNum             0
InteractionType      0
ReactionTime         0
FinalScore           0
dtype: int64

Data types:
ParticipantNumber     int64
GameName             object
TotalTrials           int64
TrialNum              int64
InteractionType      object
ReactionTime          int64
FinalScore            int64
dtype: object

In [18]:
# Example of a simple analysis: count the number of unique values in a column
column_names = ['ParticipantNumber', 'ReactionTime']  
unique_values = []

for column_name in column_names:
    unique_values.append([column_name, data[column_name].nunique()])

unique_values_df = pd.DataFrame(unique_values, columns=["Column Name", "Unique Values"])

print("\nNumber of unique values in each column:")
print(tabulate(unique_values_df, headers="keys", tablefmt="psql"))

Number of unique values in each column:
+----+-------------------+-----------------+
|    | Column Name       |   Unique Values |
|----+-------------------+-----------------|
|  0 | ParticipantNumber |               7 |
|  1 | ReactionTime      |             383 |
+----+-------------------+-----------------+

In [17]:
#distinct game names
distinct_game_names = data['GameName'].unique()
print("\nNumber of unique values in each column:")
distinct_game_names_df = pd.DataFrame(distinct_game_names,columns=['Distinct Game Names'])
print(tabulate( distinct_game_names_df,headers=["Distinct Game Names"], tablefmt="psql"))

Number of unique values in each column:
+----+-----------------------+
|    | Distinct Game Names   |
|----+-----------------------|
|  0 | TagMeAgainEasy        |
|  1 | TagMeBigger           |
|  2 | TagMeOnly             |
|  3 | TagMeQuick            |
+----+-----------------------+

In [22]:
#distinct interaction types
distinct_interaction_types = data['InteractionType'].unique()
print("\nNumber of unique values in each column:")
distinct_interation_types_df = pd.DataFrame(distinct_interaction_types,columns = ['distinct interaction types'])
print(tabulate(distinct_interation_types_df,headers=["Distinct Interaction Types"], tablefmt="psql"))

Number of unique values in each column:
+----+------------------------------+
|    | Distinct Interaction Types   |
|----+------------------------------|
|  0 | correct rejection            |
|  1 | miss                         |
|  2 | false alarm                  |
|  3 | correct hit                  |
|  4 | bad hit                      |
+----+------------------------------+