In [6]:
import pandas as pd
from tabulate import tabulate

# Read the CSV file
file_path = "/Users/sandeep/Documents/RA Work/cleaned_game_dataset/Game Data_MCI Individuals.csv"
mci_data = pd.read_csv(file_path)

In [7]:
# Basic data analysis
print("Summary statistics:")
print(tabulate(mci_data.describe(), headers='keys', tablefmt='psql'))

print("\nMissing values:")
print(mci_data.isnull().sum())

print("\nData types:")
print(mci_data.dtypes)

Summary statistics:
+-------+---------------------+---------------+------------+----------------+--------------+
|       |   ParticipantNumber |   TotalTrials |   TrialNum |   ReactionTime |   FinalScore |
|-------+---------------------+---------------+------------+----------------+--------------|
| count |           929       |    929        |  929       |        929     |    929       |
| mean  |           917.461   |     30.267    |   16.0301  |        474.975 |     25.7384  |
| std   |             3.09282 |      0.442606 |    9.02864 |        357.91  |      5.98178 |
| min   |           912       |     30        |    1       |         -1     |      8       |
| 25%   |           914       |     30        |    8       |         -1     |     22       |
| 50%   |           918       |     30        |   16       |        580     |     26       |
| 75%   |           920       |     31        |   24       |        740     |     29       |
| max   |           922       |     31        |   37       |       1952     |     38       |
+-------+---------------------+---------------+------------+----------------+--------------+

Missing values:
ParticipantNumber    0
GameName             0
TotalTrials          0
TrialNum             0
InteractionType      0
ReactionTime         0
FinalScore           0
dtype: int64

Data types:
ParticipantNumber     int64
GameName             object
TotalTrials           int64
TrialNum              int64
InteractionType      object
ReactionTime          int64
FinalScore            int64
dtype: object

In [ ]:
# Example of a simple analysis: count the number of unique values in a column
column_names = ['ParticipantNumber']  
unique_values = []

for column_name in column_names:
    unique_values.append([column_name, mci_data[column_name].nunique()])

unique_values_df = pd.DataFrame(unique_values, columns=["Column Name", "Unique Values"])

print("\nNumber of unique values in each column:")
print(tabulate(unique_values_df, headers="keys", tablefmt="psql"))

Number of unique values in each column:
+----+-------------------+-----------------+
|    | Column Name       |   Unique Values |
|----+-------------------+-----------------|
|  0 | ParticipantNumber |               7 |
+----+-------------------+-----------------+

In [ ]:
#distinct game names
distinct_game_names = mci_data['GameName'].unique()
print("\nNumber of unique values in each column:")
distinct_game_names_df = pd.DataFrame(distinct_game_names,columns=['Distinct Game Names'])
print(tabulate( distinct_game_names_df,headers=["Distinct Game Names"], tablefmt="psql"))

Number of unique values in each column:
+----+-----------------------+
|    | Distinct Game Names   |
|----+-----------------------|
|  0 | TagMeAgainEasy        |
|  1 | TagMeBigger           |
|  2 | TagMeOnly             |
|  3 | TagMeQuick            |
+----+-----------------------+

In [ ]:
#distinct interaction types
distinct_interaction_types = data['InteractionType'].unique()
print("\nNumber of unique values in each column:")
distinct_interation_types_df = pd.DataFrame(distinct_interaction_types,columns = ['distinct interaction types'])
print(tabulate(distinct_interation_types_df,headers=["Distinct Interaction Types"], tablefmt="psql"))

Number of unique values in each column:
+----+------------------------------+
|    | Distinct Interaction Types   |
|----+------------------------------|
|  0 | correct rejection            |
|  1 | miss                         |
|  2 | false alarm                  |
|  3 | correct hit                  |
|  4 | bad hit                      |
+----+------------------------------+

In [ ]:
#based on games and interaction types find the number of correct rejections and misses
correct_rejection = mci_data[(mci_data['InteractionType'] == 'correct rejection') | (mci_data['InteractionType'] == 'miss')]
correct_rejection = correct_rejection.groupby(['GameName', 'InteractionType']).size().reset_index(name='Count')
print("\nNumber of correct rejections and misses based on game and interaction type:")
correct_rejection = correct_rejection.sort_values(by='Count', ascending=False)
print(tabulate(correct_rejection, headers="keys", tablefmt="psql"))

Number of correct rejections and misses based on game and interaction type:
+----+----------------+-------------------+---------+
|    | GameName       | InteractionType   |   Count |
|----+----------------+-------------------+---------|
|  0 | TagMeAgainEasy | correct rejection |     166 |
|  2 | TagMeOnly      | correct rejection |      61 |
|  4 | TagMeQuick     | miss              |      39 |
|  1 | TagMeAgainEasy | miss              |      15 |
|  3 | TagMeOnly      | miss              |      11 |
+----+----------------+-------------------+---------+

In [ ]:
#based on games and interaction types find the number of false alarms
false_alarm = mci_data[(mci_data['InteractionType'] == 'correct hit') | (mci_data['InteractionType'] == 'bad hit') | (mci_data['InteractionType'] == 'false alarm')]
false_alarm = false_alarm.groupby(['GameName', 'InteractionType']).size().reset_index(name='Count')
false_alarm = false_alarm.sort_values(by='Count', ascending=False)
print("\nNumber of correct hit, bad hit and false alarms based on game and interaction type:")
print(tabulate(false_alarm, headers="keys", tablefmt="psql"))

Number of correct hit, bad hit and false alarms based on game and interaction type:
+----+----------------+-------------------+---------+
|    | GameName       | InteractionType   |   Count |
|----+----------------+-------------------+---------|
|  8 | TagMeQuick     | correct hit       |     201 |
|  2 | TagMeBigger    | correct hit       |     196 |
|  5 | TagMeOnly      | correct hit       |     136 |
|  0 | TagMeAgainEasy | correct hit       |      57 |
|  3 | TagMeBigger    | false alarm       |      14 |
|  7 | TagMeQuick     | bad hit           |      13 |
|  1 | TagMeAgainEasy | false alarm       |      10 |
|  4 | TagMeOnly      | bad hit           |       8 |
|  6 | TagMeOnly      | false alarm       |       2 |
+----+----------------+-------------------+---------+

In [ ]:
# Highest final score based on game name
highest_final_score = mci_data.groupby('GameName')['FinalScore'].max().reset_index()
highest_final_score = highest_final_score.sort_values(by='FinalScore', ascending=False)
print("\nHighest final score based on game name:")
print(tabulate(highest_final_score, headers="keys", tablefmt="psql"))

Highest final score based on game name:
+----+----------------+--------------+
|    | GameName       |   FinalScore |
|----+----------------+--------------|
|  2 | TagMeOnly      |           38 |
|  0 | TagMeAgainEasy |           35 |
|  3 | TagMeQuick     |           33 |
|  1 | TagMeBigger    |           30 |
+----+----------------+--------------+

In [ ]:
display(data.head())

,ParticipantNumber,GameName,TotalTrials,TrialNum,InteractionType,ReactionTime,FinalScore
0,922,TagMeAgainEasy,31,1,correct rejection,-1,28
1,922,TagMeAgainEasy,31,2,miss,-1,28
2,922,TagMeAgainEasy,31,3,false alarm,316,28
3,922,TagMeAgainEasy,31,4,correct rejection,-1,28
4,922,TagMeAgainEasy,31,5,correct rejection,-1,28

In [ ]:
interaction_per_game = mci_data.groupby(['ParticipantNumber', 'InteractionType'])[['FinalScore']].sum().reset_index()
display(interaction_per_game)

    ParticipantNumber    InteractionType  FinalScore
0                 912            bad hit          49
1                 912        correct hit        2113
2                 912  correct rejection         872
3                 912        false alarm          28
4                 912               miss         196
5                 914            bad hit          19
6                 914        correct hit        1729
7                 914  correct rejection         354
8                 914        false alarm         108
9                 914               miss         187
10                917            bad hit          66
11                917        correct hit        2369
12                917  correct rejection         896
13                917        false alarm          76
14                917               miss         381
15                918        correct hit        2535
16                918  correct rejection        1463
17                918        false alarm          21
18                918               miss         237
19                919        correct hit        2665
20                919  correct rejection         986
21                919        false alarm          90
22                919               miss         130
23                920            bad hit         287
24                920        correct hit        1698
25                920  correct rejection         912
26                920        false alarm         154
27                920               miss         120
28                922            bad hit          22
29                922        correct hit        2102
30                922  correct rejection         822
31                922        false alarm          56
32                922               miss         168

In [ ]:
summary_statistics = data.describe()
summary_statistics_reaction = summary_statistics[summary_statistics['ReactionTime'] != -1].reset_index()
display(summary_statistics_reaction[['index', 'ReactionTime']])

   index  ReactionTime
0  count    929.000000
1   mean    474.975242
2    std    357.910321
3    50%    580.000000
4    75%    740.000000
5    max   1952.000000

In [ ]:
game_wise_stats = mci_data[mci_data['ReactionTime'] != -1].groupby('GameName')['ReactionTime'].describe().reset_index()
display(game_wise_stats)

,GameName,count,mean,std,min,25%,50%,75%,max
0,TagMeAgainEasy,67.0,643.164179,222.244992,316.0,482.00,597.0,731.50,1330.0
1,TagMeBigger,210.0,821.252381,175.169387,467.0,706.25,809.5,927.75,1952.0
2,TagMeOnly,146.0,648.438356,143.607030,22.0,562.00,648.0,742.75,1188.0
3,TagMeQuick,214.0,613.630841,144.975598,6.0,529.50,609.0,688.25,1129.0

In [ ]:
overall_reaction_time = mci_data[mci_data['ReactionTime'] != -1]['ReactionTime'].sum()
overall_reaction_time_df = pd.DataFrame([overall_reaction_time], columns=['Overall Reaction Time'])
display(overall_reaction_time_df)

   Overall Reaction Time
0                 441544

In [ ]:
overall_final_score = mci_data['FinalScore'].sum()
overall_final_socre_df = pd.DataFrame([overall_final_score], columns=['Overall Final Score'])
display(overall_final_socre_df)

   Overall Final Score
0                23911

In [ ]:
overall_interaction_type_per_participant = mci_data.groupby('ParticipantNumber')['InteractionType'].nunique().reset_index()
display(overall_interaction_type_per_participant)

   ParticipantNumber  InteractionType
0                912                5
1                914                5
2                917                5
3                918                4
4                919                4
5                920                5
6                922                5