In [24]:
import pandas as pd
from tabulate import tabulate

# Read the CSV file
file_path = "/Users/sandeep/Documents/RA Work/cleaned_game_dataset/Game Data_Older Adults.csv"
old_data = pd.read_csv(file_path)
 
# Basic data analysis
print("Summary statistics:")
print(tabulate(old_data.describe(), headers='keys', tablefmt='psql'))

print("\nMissing values:")
print(old_data.isnull().sum())

print("\nData types:")
print(old_data.dtypes)

Summary statistics:
+-------+---------------------+---------------+------------+----------------+--------------+
|       |   ParticipantNumber |   TotalTrials |   TrialNum |   ReactionTime |   FinalScore |
|-------+---------------------+---------------+------------+----------------+--------------|
| count |           4684      |   4684        | 4684       |       4684     |   4684       |
| mean  |            829.55   |     30.6217   |   15.927   |        440.398 |     26.3021  |
| std   |             31.2073 |      0.803265 |    8.92744 |        394.453 |      4.98491 |
| min   |            792      |     30        |    1       |         -1     |     12       |
| 25%   |            804      |     30        |    8       |         -1     |     23       |
| 50%   |            811      |     30        |   16       |        548.5   |     27       |
| 75%   |            859      |     31        |   24       |        727     |     30       |
| max   |            888      |     32        |   39       |       5056     |     38       |
+-------+---------------------+---------------+------------+----------------+--------------+

Missing values:
ParticipantNumber    0
GameName             0
TotalTrials          0
TrialNum             0
InteractionType      0
ReactionTime         0
FinalScore           0
dtype: int64

Data types:
ParticipantNumber     int64
GameName             object
TotalTrials           int64
TrialNum              int64
InteractionType      object
ReactionTime          int64
FinalScore            int64
dtype: object

In [25]:
# Basic data analysis
print("Summary statistics:")
print(tabulate(old_data.describe(), headers='keys', tablefmt='psql'))

print("\nMissing values:")
print(old_data.isnull().sum())

print("\nData types:")
print(old_data.dtypes)

Summary statistics:
+-------+---------------------+---------------+------------+----------------+--------------+
|       |   ParticipantNumber |   TotalTrials |   TrialNum |   ReactionTime |   FinalScore |
|-------+---------------------+---------------+------------+----------------+--------------|
| count |           4684      |   4684        | 4684       |       4684     |   4684       |
| mean  |            829.55   |     30.6217   |   15.927   |        440.398 |     26.3021  |
| std   |             31.2073 |      0.803265 |    8.92744 |        394.453 |      4.98491 |
| min   |            792      |     30        |    1       |         -1     |     12       |
| 25%   |            804      |     30        |    8       |         -1     |     23       |
| 50%   |            811      |     30        |   16       |        548.5   |     27       |
| 75%   |            859      |     31        |   24       |        727     |     30       |
| max   |            888      |     32        |   39       |       5056     |     38       |
+-------+---------------------+---------------+------------+----------------+--------------+

Missing values:
ParticipantNumber    0
GameName             0
TotalTrials          0
TrialNum             0
InteractionType      0
ReactionTime         0
FinalScore           0
dtype: int64

Data types:
ParticipantNumber     int64
GameName             object
TotalTrials           int64
TrialNum              int64
InteractionType      object
ReactionTime          int64
FinalScore            int64
dtype: object

In [26]:
# Example of a simple analysis: count the number of unique values in a column
column_names = ['ParticipantNumber']  
for column_name in column_names:
    print(f"\nNumber of unique values in '{column_name}':")
    unique_values = []
    for column_name in column_names:
        unique_values.append([column_name, old_data[column_name].nunique()])

    print("\nNumber of unique values in each column:")
    print(tabulate(unique_values, headers=["Column Name", "Unique Values"], tablefmt="grid"))

Number of unique values in 'ParticipantNumber':

Number of unique values in each column:
+-------------------+-----------------+
| Column Name       |   Unique Values |
+===================+=================+
| ParticipantNumber |              30 |
+-------------------+-----------------+

In [27]:
#based on games and interaction types find the number of correct rejections and misses
correct_rejection = old_data[(old_data['InteractionType'] == 'correct rejection') | (old_data['InteractionType'] == 'miss')]
correct_rejection = correct_rejection.groupby(['GameName', 'InteractionType']).size().reset_index(name='Count')
print("\nNumber of correct rejections and misses based on game and interaction type:")
correct_rejection = correct_rejection.sort_values(by='Count', ascending=False)
print(tabulate(correct_rejection, headers="keys", tablefmt="psql"))

Number of correct rejections and misses based on game and interaction type:
+----+------------------+-------------------+---------+
|    | GameName         | InteractionType   |   Count |
|----+------------------+-------------------+---------|
|  0 | TagMeAgainEasy   | correct rejection |     672 |
|  2 | TagMeAgainMedium | correct rejection |     621 |
|  4 | TagMeOnly        | correct rejection |     255 |
|  6 | TagMeQuick       | miss              |     126 |
|  3 | TagMeAgainMedium | miss              |      75 |
|  5 | TagMeOnly        | miss              |      43 |
|  1 | TagMeAgainEasy   | miss              |      32 |
+----+------------------+-------------------+---------+

In [28]:
#based on games and interaction types find the number of false alarms
false_alarm = old_data[(old_data['InteractionType'] == 'correct hit') | (old_data['InteractionType'] == 'bad hit') | (old_data['InteractionType'] == 'false alarm')]
false_alarm = false_alarm.groupby(['GameName', 'InteractionType']).size().reset_index(name='Count')
false_alarm = false_alarm.sort_values(by='Count', ascending=False)
print("\nNumber of correct hit, bad hit and false alarms based on game and interaction type:")
print(tabulate(false_alarm, headers="keys", tablefmt="psql"))

Number of correct hit, bad hit and false alarms based on game and interaction type:
+----+------------------+-------------------+---------+
|    | GameName         | InteractionType   |   Count |
|----+------------------+-------------------+---------|
|  4 | TagMeBigger      | correct hit       |     861 |
| 10 | TagMeQuick       | correct hit       |     774 |
|  7 | TagMeOnly        | correct hit       |     587 |
|  0 | TagMeAgainEasy   | correct hit       |     256 |
|  2 | TagMeAgainMedium | correct hit       |     195 |
|  3 | TagMeAgainMedium | false alarm       |      69 |
|  5 | TagMeBigger      | false alarm       |      39 |
|  1 | TagMeAgainEasy   | false alarm       |      32 |
|  9 | TagMeQuick       | bad hit           |      22 |
|  8 | TagMeOnly        | false alarm       |      15 |
|  6 | TagMeOnly        | bad hit           |      10 |
+----+------------------+-------------------+---------+

In [29]:
# Highest final score based on game name
highest_final_score = old_data.groupby('GameName')['FinalScore'].max().reset_index()
highest_final_score = highest_final_score.sort_values(by='FinalScore', ascending=False)
print("\nHighest final score based on game name:")
print(tabulate(highest_final_score, headers="keys", tablefmt="psql"))

Highest final score based on game name:
+----+------------------+--------------+
|    | GameName         |   FinalScore |
|----+------------------+--------------|
|  0 | TagMeAgainEasy   |           38 |
|  1 | TagMeAgainMedium |           37 |
|  4 | TagMeQuick       |           36 |
|  3 | TagMeOnly        |           35 |
|  2 | TagMeBigger      |           30 |
+----+------------------+--------------+

In [30]:
overall_final_score = old_data['FinalScore'].sum()
overall_final_socre_df = pd.DataFrame([overall_final_score], columns=['Overall Final Score'])
display(overall_final_socre_df)

   Overall Final Score
0               123199

In [31]:
summary_statistics = old_data.describe()
summary_statistics_reaction = summary_statistics[summary_statistics['ReactionTime'] != -1].reset_index()
display(summary_statistics_reaction[['index', 'ReactionTime']])

   index  ReactionTime
0  count   4684.000000
1   mean    440.397523
2    std    394.452525
3    50%    548.500000
4    75%    727.000000
5    max   5056.000000

In [32]:
overall_reaction_time = old_data[old_data['ReactionTime'] != -1]['ReactionTime'].sum()
overall_reaction_time_df = pd.DataFrame([overall_reaction_time], columns=['Overall Reaction Time'])
display(overall_reaction_time_df)

   Overall Reaction Time
0                2064646

In [33]:
game_wise_stats = old_data[old_data['ReactionTime'] != -1].groupby('GameName')['ReactionTime'].describe().reset_index()
display(game_wise_stats)

,GameName,count,mean,std,min,25%,50%,75%,max
0,TagMeAgainEasy,288.0,698.309028,235.298087,411.0,533.25,626.0,772.25,1451.0
1,TagMeAgainMedium,264.0,778.056818,245.944274,381.0,584.00,736.5,920.25,1462.0
2,TagMeBigger,900.0,830.676667,273.374307,451.0,688.75,788.5,924.25,5056.0
3,TagMeOnly,612.0,681.883987,145.403591,216.0,584.75,651.0,753.25,1349.0
4,TagMeQuick,796.0,619.603015,131.612546,4.0,525.00,598.5,688.25,1181.0

In [34]:
overall_reaction_time = old_data[old_data['ReactionTime'] != -1]['ReactionTime'].sum()
overall_reaction_time_df = pd.DataFrame([overall_reaction_time], columns=['Overall Reaction Time'])
display(overall_reaction_time_df)

   Overall Reaction Time
0                2064646

In [35]:
overall_final_score = old_data['FinalScore'].sum()
overall_final_socre_df = pd.DataFrame([overall_final_score], columns=['Overall Final Score'])
display(overall_final_socre_df)

   Overall Final Score
0               123199

In [36]:
overall_interaction_type_per_participant = old_data.groupby('ParticipantNumber')['InteractionType'].nunique().reset_index()
display(overall_interaction_type_per_participant)

    ParticipantNumber  InteractionType
0                 792                4
1                 793                5
2                 794                4
3                 799                5
4                 800                4
5                 801                4
6                 803                5
7                 804                4
8                 805                5
9                 806                5
10                807                3
11                808                5
12                809                5
13                810                5
14                811                4
15                812                5
16                813                5
17                842                4
18                853                5
19                854                4
20                855                5
21                856                4
22                859                4
23                860                4
24                861                4
25                862                4
26                865                5
27                885                5
28                887                4
29                888                4