In [6]:
import pandas as pd
from tabulate import tabulate

# Read the CSV file
file_path = "/Users/sandeep/Documents/RA Work/cleaned_game_dataset/Game Data_Older Adults.csv"
data = pd.read_csv(file_path)

# Display the first few rows of the dataframe
print(tabulate(data.head(), headers='keys', tablefmt='psql'))
 
# Basic data analysis
print("Summary statistics:")
print(tabulate(data.describe(), headers='keys', tablefmt='psql'))

print("\nMissing values:")
print(data.isnull().sum())

print("\nData types:")
print(data.dtypes)

# Example of a simple analysis: count the number of unique values in a column
column_names = ['ParticipantNumber', 'ReactionTime']  
for column_name in column_names:
    print(f"\nNumber of unique values in '{column_name}':")
    unique_values = []
    for column_name in column_names:
        unique_values.append([column_name, data[column_name].nunique()])

    print("\nNumber of unique values in each column:")
    print(tabulate(unique_values, headers=["Column Name", "Unique Values"], tablefmt="grid"))

+----+---------------------+------------------+---------------+------------+-------------------+----------------+--------------+
|    |   ParticipantNumber | GameName         |   TotalTrials |   TrialNum | InteractionType   |   ReactionTime |   FinalScore |
|----+---------------------+------------------+---------------+------------+-------------------+----------------+--------------|
|  0 |                 888 | TagMeAgainMedium |            32 |          1 | correct rejection |             -1 |           33 |
|  1 |                 888 | TagMeAgainMedium |            32 |          2 | correct rejection |             -1 |           33 |
|  2 |                 888 | TagMeAgainMedium |            32 |          3 | correct rejection |             -1 |           33 |
|  3 |                 888 | TagMeAgainMedium |            32 |          4 | correct rejection |             -1 |           33 |
|  4 |                 888 | TagMeAgainMedium |            32 |          5 | correct rejection |             -1 |           33 |
+----+---------------------+------------------+---------------+------------+-------------------+----------------+--------------+
Summary statistics:
+-------+---------------------+---------------+------------+----------------+--------------+
|       |   ParticipantNumber |   TotalTrials |   TrialNum |   ReactionTime |   FinalScore |
|-------+---------------------+---------------+------------+----------------+--------------|
| count |           4684      |   4684        | 4684       |       4684     |   4684       |
| mean  |            829.55   |     30.6217   |   15.927   |        440.398 |     26.3021  |
| std   |             31.2073 |      0.803265 |    8.92744 |        394.453 |      4.98491 |
| min   |            792      |     30        |    1       |         -1     |     12       |
| 25%   |            804      |     30        |    8       |         -1     |     23       |
| 50%   |            811      |     30        |   16       |        548.5   |     27       |
| 75%   |            859      |     31        |   24       |        727     |     30       |
| max   |            888      |     32        |   39       |       5056     |     38       |
+-------+---------------------+---------------+------------+----------------+--------------+

Missing values:
ParticipantNumber    0
GameName             0
TotalTrials          0
TrialNum             0
InteractionType      0
ReactionTime         0
FinalScore           0
dtype: int64

Data types:
ParticipantNumber     int64
GameName             object
TotalTrials           int64
TrialNum              int64
InteractionType      object
ReactionTime          int64
FinalScore            int64
dtype: object

Number of unique values in 'ParticipantNumber':

Number of unique values in each column:
+-------------------+-----------------+
| Column Name       |   Unique Values |
+===================+=================+
| ParticipantNumber |              30 |
+-------------------+-----------------+
| ReactionTime      |             756 |
+-------------------+-----------------+

Number of unique values in 'ReactionTime':

Number of unique values in each column:
+-------------------+-----------------+
| Column Name       |   Unique Values |
+===================+=================+
| ParticipantNumber |              30 |
+-------------------+-----------------+
| ReactionTime      |             756 |
+-------------------+-----------------+

In [ ]:
# Display the first few rows of the dataframe
print(tabulate(data.head(), headers='keys', tablefmt='psql'))
 
# Basic data analysis
print("Summary statistics:")
print(tabulate(data.describe(), headers='keys', tablefmt='psql'))

print("\nMissing values:")
print(data.isnull().sum())

print("\nData types:")
print(data.dtypes)

+----+---------------------+------------------+---------------+------------+-------------------+----------------+--------------+
|    |   ParticipantNumber | GameName         |   TotalTrials |   TrialNum | InteractionType   |   ReactionTime |   FinalScore |
|----+---------------------+------------------+---------------+------------+-------------------+----------------+--------------|
|  0 |                 888 | TagMeAgainMedium |            32 |          1 | correct rejection |             -1 |           33 |
|  1 |                 888 | TagMeAgainMedium |            32 |          2 | correct rejection |             -1 |           33 |
|  2 |                 888 | TagMeAgainMedium |            32 |          3 | correct rejection |             -1 |           33 |
|  3 |                 888 | TagMeAgainMedium |            32 |          4 | correct rejection |             -1 |           33 |
|  4 |                 888 | TagMeAgainMedium |            32 |          5 | correct rejection |             -1 |           33 |
+----+---------------------+------------------+---------------+------------+-------------------+----------------+--------------+
Summary statistics:
+-------+---------------------+---------------+------------+----------------+--------------+
|       |   ParticipantNumber |   TotalTrials |   TrialNum |   ReactionTime |   FinalScore |
|-------+---------------------+---------------+------------+----------------+--------------|
| count |           4684      |   4684        | 4684       |       4684     |   4684       |
| mean  |            829.55   |     30.6217   |   15.927   |        440.398 |     26.3021  |
| std   |             31.2073 |      0.803265 |    8.92744 |        394.453 |      4.98491 |
| min   |            792      |     30        |    1       |         -1     |     12       |
| 25%   |            804      |     30        |    8       |         -1     |     23       |
| 50%   |            811      |     30        |   16       |        548.5   |     27       |
| 75%   |            859      |     31        |   24       |        727     |     30       |
| max   |            888      |     32        |   39       |       5056     |     38       |
+-------+---------------------+---------------+------------+----------------+--------------+

Missing values:
ParticipantNumber    0
GameName             0
TotalTrials          0
TrialNum             0
InteractionType      0
ReactionTime         0
FinalScore           0
dtype: int64

Data types:
ParticipantNumber     int64
GameName             object
TotalTrials           int64
TrialNum              int64
InteractionType      object
ReactionTime          int64
FinalScore            int64
dtype: object

In [4]:
# Example of a simple analysis: count the number of unique values in a column
column_names = ['ParticipantNumber', 'ReactionTime']  
for column_name in column_names:
    print(f"\nNumber of unique values in '{column_name}':")
    unique_values = []
    for column_name in column_names:
        unique_values.append([column_name, data[column_name].nunique()])

    print("\nNumber of unique values in each column:")
    print(tabulate(unique_values, headers=["Column Name", "Unique Values"], tablefmt="grid"))

Number of unique values in 'ParticipantNumber':

Number of unique values in each column:
+-------------------+-----------------+
| Column Name       |   Unique Values |
+===================+=================+
| ParticipantNumber |              30 |
+-------------------+-----------------+
| ReactionTime      |             756 |
+-------------------+-----------------+

Number of unique values in 'ReactionTime':

Number of unique values in each column:
+-------------------+-----------------+
| Column Name       |   Unique Values |
+===================+=================+
| ParticipantNumber |              30 |
+-------------------+-----------------+
| ReactionTime      |             756 |
+-------------------+-----------------+